<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>CONSOLE: %msg%n</pattern>
        </layout>
    </appender>
    <appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
        <file>logbackBitcoinQueries.log</file>
        <encoder>
            <pattern>%date{dd-MM-yyyy HH:mm} [%6level] --- [%thread] %-40.40logger{39} : %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="Console-Appender" />
        <appender-ref ref="File-Appender" />
    </root>
    <logger name="com.flatiron.spring" level="TRACE">
        <appender-ref ref="Console-Appender" />
        <appender-ref ref="File-Appender" />
    </logger>
</configuration>